body {
    background-color: #f5f5f5;
}

h2 {
    font-weight: bold;
}

.custom-navbar {
    background: linear-gradient(to right, #007bff, #ff6600) !important;
}

.carousel-item img {
    height: 500px;        /* altura fija */
    object-fit: cover;    /* recorta sin deformar */
}